body {
  padding-top: 80px;
  padding-bottom: 20px;
}
.ui.h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ui.h3 {
  padding-top: 15px;
  padding-bottom: 10px;
}

.room {
  padding-top: 15px;
  font-size: 20px;
}
.ui.button.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.col {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.table > :not(:first-child) {
  border-top: 0;
}

.react-datepicker-popper {
  inset: auto !important;
  transform: translate(-50%, 0) !important;
  left: 50% !important;
}

.ui.button.filter-selected {
  box-shadow: 0 0 0 0.25rem rgb(255 216 0 / 65%) !important;
}
.ui.button.btn-choose {
  margin: 10px;
}
.ui.button.btn-filter-favourite {
  margin: 10px 10px 10px 7px;
}
.ui.button.btn-filter-favourite-selected {
  box-shadow: 0 0 0 0.25rem rgb(255 216 0 / 65%) !important;
  margin: 10px 10px 10px 7px;
}

.ui.button.filter:focus {
  box-shadow: 0 0 0 0;
  font-weight: bold;
}

.hidden {
  display: none !important;
}
.ui.card,
.ui.cards > .card {
  margin: 20px;
  text-align: left;
}
.ui.cards > .card .meta,
.ui.card .meta {
  color: white;
  font-weight: bold;
  font-size: medium;
}
.ui.cards > .card > .content > .header,
.ui.card > .content > .header {
  color: black;
  font-family: sans-serif;
}
.ui.grid {
  margin-bottom: 0;
}

.ui.favourite {
  color: whitesmoke;
  background-color: transparent;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px 10px;
}

.ui.green {
  background-color: forestgreen;
}
.ui.yellow {
  background-color: gold;
}
.ui.red {
  background-color: crimson;
}

.date-input {
  width: 200px;
}

.ui.selection.dropdown {
  width: 200px;
}

.form-select.w-auto.justify-content-center {
  width: 200px !important;
}

.filter-component {
  overflow: auto;
  white-space: nowrap;
}

.ui.blue.button.confirm-button {
  margin-top: 15px;
  width: 200px;
}

.ui.green.roomcard {
  margin: auto;
}

.ui.yellow.roomcard {
  margin: auto;
}

.ui.red.roomcard {
  margin: auto;
}
