body {
  padding-top: 80px;
  padding-bottom: 20px;
}
h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
h5 {
  padding-top: 15px;
  padding-bottom: 10px;
}

.room {
  padding-top: 15px;
  font-size: 20px;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.col {
  padding-top: 30px;
  padding-bottom: 30px;
}
.table > :not(:first-child) {
  border-top: 0;
}

.react-datepicker-popper {
  inset: auto !important;
  transform: translate(-50%, 0) !important;
  left: 50% !important;
}

.btn.filter-selected {
  box-shadow: 0 0 0 0.25rem rgb(255 216 0 / 65%) !important;
}
.filter:focus {
  box-shadow: 0 0 0 0;
}
.hidden {
  display: none;
}