h1 {
  padding-top: 15px;
  padding-bottom: 10px;
}
h5 {
  padding-top: 15px;
  padding-bottom: 10px;
}

.room {
  padding-top: 15px;
  font-size: 20px;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.col {
  padding-top: 30px;
  padding-bottom: 30px;
}

